/*********************************************
CART 263-2019
Project 1
Michael Watts

Title: SisyBauhausPhus

**********************************************/

<style>
@import url('https://fonts.googleapis.com/css?family=Righteous');
</style>

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
#s1 {
  background: url(../assets/images/building.jpg) no-repeat fixed;
  background-size: cover;
  min-width: 100%;
	width: auto;
	min-height: 100%;
	height: auto;
	position:relative;
}

#instructions {
  color: red;
  background-color: transparent;
	font-family: 'Righteous';
	font-size: 30px;
	position: absolute;
	top: 10%;
	left: 10px;
}
