/*********************************************
CART 263-2019
Project 1
Michael Watts

Title: SisyBauhausPhus

**********************************************/

@import url('https://fonts.googleapis.com/css?family=Baumans');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
#s1 {
  background: url("../assets/images/building.jpg") no-repeat fixed;
  background-size: cover;
  min-width: 100%;
	width: auto;
	min-height: 100%;
	height: auto;
	position:relative;
}

#title {
  color: red;
  background-color: transparent;
	font-family: 'Baumans';
	font-size: 40px;
	position: absolute;
	top: 3%;
	left: 10px;
}

#circle {
  position: absolute;
	top: 80%;
	left: 200px;
}

#triangle {
  position: absolute;
	top: 80%;
	left: 350px;
}

#square {
  position: absolute;
	top: 80%;
	left: 525px;
}

#ex {
  position: absolute;
	top: 80%;
	left: 675px;
}

#bauhaus {
  position: absolute;
	top: 80%;
	left: 10px;
}
