body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

#click-to-begin {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

#score-keeper {
  margin: 0px;
  top 20: 10px;
  color: #FF69B4;
}
