@import url('https://fonts.googleapis.com/css?family=Teko|Walter+Turncoat');
* {
	margin:0;
	padding: 0;
	box-sizing:border-box;
}

html, body {
	height: 100%;
}

.questionGod {
	position: fixed;
	top: 15%;
	left: 45%;
	width: 500px;
	height: 500px;
	padding: 0px;
	z-index: 99;
}

#typebutton {
	position: fixed;
	top:  160px;
	left: 48%;

}

#demo {
	position: fixed;
	font-family: 'Walter Turncoat', cursive;
	text-align:center;
	top: 200px;
	width: 100px
	height: 40px;
}


#myVideo {
	position: fixed;
	background: black;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}
/* start button */
.content {
	position: absolute;
	font-family: 'Walter Turncoat', cursive;
	text-align:center;
	text-decoration-color: black;
	width: 250px;
	top: 30%;
	left: 42%;
	padding: 0px;
	z-index: 99;
	transition: all .3s;
}
.content img{
	width: 100%;
	height: auto;
}

.content:hover {
}


#intro {
	width:100%;
	height:100%;
}

#responseImage {
	position: absolute;
	width: 250px;
	top: 40%;
	left: 42%;
	z-index: 99;
}
