@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|VT323');
* {
	margin:0;
	padding: 0;
	box-sizing:border-box;
}

html, body {
	height: 100%;
}

#myVideo {
	position: fixed;
	background: black;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}
/* start button */

#intro {
	width:100%;
	height:100%;
}

.content {
	position: absolute;
	font-family: 'Press Start 2P', cursive;
	color: 	#ffff00;
	text-align:center;
	font-size: 30px;
	width: 550px;
	top: 18%;
	left: 35%;
	padding: 0px;
	z-index: 99;
	transition: all .3s;
}
.content img{
	width: 60%;
	height: auto;
}

.content:hover {
}

.questionGod {
	position: fixed;
	top: 13%;
	left: 29%;
	width: 700px;
	height: 200px;
	padding: 0px;
	z-index: 99;
}

#typebutton {
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
	margin: 20px 170px;
	padding: 20px;
}

#demo {
	font-family: 'VT323', cursive;
	font-size: 40px;
	color: #ffff00;
	text-align:center;
	margin: 10px 80px;
	padding: 20px;
	width: 500px;
}


#responseImage {
	position: absolute;
	width: 250px;
	top: 40%;
	left: 42%;
	z-index: 99;
}
